//----------------------------------------------------------------
// Define some meta-information
//----------------------------------------------------------------
manifest {
    name            = 'nf-rnaseq'
    author          = """Alessandro Barberis"""
    homePage        = 'https://github.com/alebarberis/nfrnaseq'
    description     = """RNA sequencing analysis pipeline."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '0.0.0.9000'
    doi             = ''
}

//----------------------------------------------------------------
// Directories
//----------------------------------------------------------------
// The directory where tasks temporary files are created
// Can be changed at runtime with the -w, -work-dir command option
workDir = "${projectDir}/work"

//----------------------------------------------------------------
// Define default pipeline parameters
//----------------------------------------------------------------
params {
    // General
    help            = null
    publishdir_mode = 'copy'
    modules         = 'fastqc,cutadapt,fastqc_cutadapt,quant,multiqc'
    verbose         = false

    // Output directories
    outdir          = "${projectDir}/results"
    cachedir        = "${workDir}"// Provide a centralised cache directory for containers
    tracedir        = "${params.outdir}/pipeline_trace"

    // Input
    input           = null
    prefix          = null
    suffix1         = '_1'
    suffix2         = '_2'
    filext          = 'fq.gz'
    concatenate     = true

    // MultiQC
    multiqc_config  = null

    // References
    species         = null  // String
    refdir          = "${params.outdir}/ref/${params.species}"
    genome          = null  // Path to FASTA file
    transcriptome   = null  // Path to FASTA file
    gtf             = null  // Path to General Transfer Format file
    genemap         = null  // Path to file containing a mapping of transcripts to genes (tx2gene)
    salmon_index    = null  // Path to directory
    decoys          = null  // Path to file
    gencode         = false // Boolean

    // Quantification
    salmon_libtype  = 'A'

    // Resources limits
    max_memory      = '30.GB'
    max_cpus        = 7
    max_time        = '48.h'
}

//----------------------------------------------------------------
// Resources
//----------------------------------------------------------------
includeConfig 'config/resources.config'

//----------------------------------------------------------------
// Define multiple profiles
//
// Usage:
//   nextflow run <your script> -profile profile1,profile2,...
//----------------------------------------------------------------
profiles{
    // Configuration for arm architecture
    arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    
    // Conda configuration scope
    conda {
        // Conda specific
        conda.enabled          = true
        // Set a cache directory to keep environments across executions
        conda.cacheDir         = "${params.cachedir}/conda"
        // Others
        docker.enabled         = false
        singularity.enabled    = false
    }

    // Docker configuration scope
    docker {
        // Docker specific
        docker.enabled         = true   //Turn this flag to `true` to enable Docker execution
        docker.temp            = 'auto' //Path of choice as the /tmp directory in the container
        docker.remove          = true   //Clean-up the container after the execution
        docker.sudo            = false  //Executes Docker run command as sudo
        // Others
        singularity.enabled    = false
    }

    // Singularity configuration scope
    singularity {
        // Singularity specific
        singularity.enabled    = true   //Turn this flag to `true` to enable Singularity execution
        singularity.autoMounts = true   //When true Nextflow automatically mounts host paths in the executed container. It requires the user bind control feature enabled in your Singularity installation (default: false)
        // Set a cache directory to keep environments across executions
        singularity.cacheDir   = "${params.cachedir}/singularity" // When using a compute cluster, the Singularity cache directory must reside in a shared filesystem accessible to all compute nodes.
        // Others
        docker.enabled         = false
    }
}

//----------------------------------------------------------------
// Environment variables
//----------------------------------------------------------------

// Export these variables to prevent local Python/R libraries from 
// conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

//----------------------------------------------------------------
// Metrics and reports
//----------------------------------------------------------------

// Define timestamp variable
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

// Define configuration of the workflow execution report
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}

// Define configuration of the processes execution timeline report
timeline {
    enabled = true
    file    = "${params.tracedir}/timeline_report_${trace_timestamp}.html"
}

// Define configuration of the processes execution tracing report
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}

// Define configuration of the direct acyclic graph (DAG) pipeline model
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

//----------------------------------------------------------------
// Modules
//----------------------------------------------------------------
// Load modules.config for DSL2 module specific options
includeConfig 'config/modules.config'

//----------------------------------------------------------------
// Delete all files in work directory on a successful completion
//----------------------------------------------------------------
cleanup = false
